body{
    margin: 15px;
    border: 2px solid #d6b0b3;
    height: auto;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 50px;
    background-color: #ea9696;
}
.hei{
    height: 30px;
}
.header_item{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}
.header_item::after{
    content: "";
    align-items: center;
    border-left: 2px solid rgb(27, 0, 228);
    width: 2px;
    height: 30px;
    top: 0;
    right: -20px;
    position: absolute;
}
#div2{
    display: flex;
}
.mainbox{
    width: 50%;
    background-color: rgb(255, 255, 255);
    order: 1;
    /* height: 500px; */
    margin-left: 10px ;
}
.side1{
    width: 20%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    order: 0;
    gap: 5px;
    z-index: 10;

}
.side2{
    width: 30%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    order: 2;

}

.pa{
    background-color: #ea9696;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    align-content: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.khung{
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 40px;
}

.inputkhung{
    height: 40px;
}
#selection{
    height: 40px;
}
.cmt{
    margin-top: 45px;
    display: grid;
    grid-template-columns: 100%;
}
.nutbam{
    margin-top: 15px;
}
.nut{
    height: 30px;
}
.side2{
    background-color: black;
    color: white;
    margin: 15px;
}
.mainside2{
    margin: 15px;
}