body{
    margin: 15px;
    border: 2px solid #d6b0b3;
    height: auto;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 50px;
    background-color: #ea9696;
}
nav{
    display: flex;
    gap: 50px;
}

/* Chieu cao cua moi nav */
.hei{
    height: 30px;
}
.header_item{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}
.header_item::after{
    content: "";
    align-items: center;
    border-left: 2px solid rgb(27, 0, 228);
    width: 2px;
    height: 30px;
    top: 0;
    right: -20px;
    position: absolute;
}

.mainbox{
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: 10px ;
}
.sideleft{
    width: 20%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    gap: 5px;
    z-index: 10;

}
.sideright{
    width: 30%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    background-color: black;
    color: white;
    margin: 15px;
}
.main_header{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.main_header_item{
    align-content: center;
    background-color: #ea9696;
    color: #a12e31;
    font-weight: 1000;
    padding: 0px 20px;
    width: 50%;
    letter-spacing:8px;
    margin: 10px;
    height: 40px;
}
.textsideleft{
    background-color: #ea9696;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    align-content: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.khung{
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 40px;
}

.inputkhung{
    height: 40px;
}
#selection{
    height: 40px;
}
.cmt{
    margin-top: 45px;
    display: grid;
    grid-template-columns: 100%;
}
/* margin-top: 15px; */

.nut{
    height: 30px;
    margin-top: 15px;
}
.mainright{
    margin: 15px;
}
footer{
    margin-top: 20px;
    background-color: #ea9696;
    color: white;
    align-content: center;
    display: flex;
    justify-content: center;
}

